.top-bar {
  position: relative;
  height: 43px;
  border-bottom: 1px solid #1c5380;
  border-bottom-color: rgba(4, 40, 71, 0.8);
  @include box-shadow(0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, .2));
  background-color: #517fa4;
  background-image: url('../images/noise.png'), -webkit-gradient(linear, left top, left bottom, from(#517fa4), to(#306088));
  background-image: url('../images/noise.png'), -webkit-linear-gradient(top, #517fa4, #306088);
  background-image: url('../images/noise.png'), -moz-linear-gradient(top, #517fa4, #306088);
  background-image: url('../images/noise.png'), -o-linear-gradient(top, #517fa4, #306088);
  background-image: url('../images/noise.png'), -ms-linear-gradient(top, #517fa4, #306088);
  background-image: url('../images/noise.png'), linear-gradient(top, #517fa4, #306088);
  background-position: 50% 50%;
  -webkit-background-size: 30px 20px, auto;
  background-size: 30px 20px, auto;
  z-index: 100;
  .top-bar-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    .logo {
      padding-left: 20px;
      font-size: 18px;
      a {
        color: #fff;
      }
    }
    .top-bar-right {
      position: absolute;
      top: 0;
      right: 0;

    }
  }
}

.top-bar-actions {
  display: inline;
  float: right;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 0;
  li {
    display: inline;
    float: left;
    margin: 0;
    position: relative;
    a {
      position: relative;
      display: block;
      height: 20px;
      padding: 11px 11px 13px 12px;
      color: #fff;
      border-right: 1px solid #06365f;
      border-right-color: rgba(0, 0, 0, 0.1);
      @include box-shadow(inset 1px 0 0 rgba(255, 255, 255, .1));
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
      &.active {
        border-left: none;
        background-color: #1c5380;
        background-color: rgba(6, 54, 95, 0.35);
        @include box-shadow(-1px 0 0 rgba(255, 255, 255, .15), inset 0 0 1px rgba(6, 54, 95, 0.4), inset 1px 0 1px rgba(6, 54, 95, 0.4));
      }
    }
    .img-outset {
      position: relative;
      float: left;
      display: inline;
      margin: -2px 10px 1px -1px;
      @include border-radius(3px);
      background: no-repeat 0 0;
      -webkit-background-size: 100%;
      background-size: 100%;
      b {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        @include border-radius(2px);
        @include box-shadow(inset 0 0 0 1px rgba(255, 255, 255, .1), inset 0 1px 0 rgba(255, 255, 255, .3));
      }
    }
    img {
      display: block;
      width: 24px;
      height: 24px;
      visibility: hidden;
    }
  }
}

.account-state {
  position: relative;
  i {
    position: absolute;
    top: -10px;
    left: auto;
    right: 13px;
    height: 10px;
    width: 13px;
    background: url('../images/dropdown_arrow.png') no-repeat 0 0;
  }
}

.dropdown-open {
  .dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    margin: 10px 0;
    opacity: 0.99;
    pointer-events: all;
    min-width: 150px;
  }
}

.dropdown {
  ul {
    background: #eee url('../images/white-gradient-300px.png') repeat-x 0 0;
    background-color: rgba(255, 255, 255, 0.3);
    @include border-radius(3px);
    @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.95), 0 1px 8px rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08));
    min-width: 100px;
    padding: 1px 3px;
    li {
      float: none;
      display: block;
      padding: 5px 0 5px;
      margin: 0;
      border-top: 1px solid #eee;
      @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.95));
      a {
        color: #666;
        text-decoration: none;
        display: block;
        padding: 4px 8px;
        margin: -3px 0px;
        border: 1px solid transparent;
        @include border-radius(2px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          border: 1px solid #eee;
          background: #999 url('../images/white-gradient-300px.png') repeat-x 50% 50%;
          @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.9));
        }
      }
      &.border-none {
        border-top: none;
      }
    }
  }
}
