<a href="#" class="btn-top" id="btn_top"><span class="vertical">回顶部</span></a>
<script>
    $(function () {
        $('pre').addClass('prettyprint');
        $('td pre').removeClass('prettyprint');
        prettyPrint();
        $('.response-btn').on('click', function (e) {
            var sectionNode = $(this).closest('.api-section');
            sectionNode.find('.api-response').slideToggle();
        });
        var navHtml = '';
        var text = $('.nav-title-active').text();
        if (text.indexOf('Android SDK') != -1 || text.indexOf('iOS SDK') != -1) {
//            console.log(text);
            //抽取标题索引
            $('h1,h2,h3,h4,h5,h6').each(function (i) {
                $(this).attr('id', 'anchor-' + i);
            })
        } else {
            navHtml += '<header><h1>' + text + '</h1></header>';
        }
        if ($('.api-section').length > 0) {
            navHtml += '<div class="index-nav index-endpoints">';
            navHtml += '    <ul>';
            $('.api-section').each(function (item) {
                var id = $(this).attr('id');
                var method = $(this).find('.api-method').eq(0).text().toUpperCase();
                var api = $(this).find('.api-rule').eq(0)[0].innerHTML;
                var desc = $(this).find('.api-description').eq(0).find('p').eq(0).text();
                navHtml += '        <li>';
                navHtml += '            <a href="#' + id + '">';
                navHtml += '                <span class="type">' + method + '</span>';
                navHtml += '                <b>' + api + '</b>';
                navHtml += '                <span class="description">' + desc + '</span>';
                navHtml += '                <i></i>';
                navHtml += '            </a>';
                navHtml += '        </li>';
            });
            navHtml += '    </ul>';
            navHtml += '</div>';
        }
        $('.nav-page-content').prepend(navHtml);
        var sidebar = $('.sidebar');
        $(window).on('scroll', function () {
            scrollTop = $(this).scrollTop();

            if (scrollTop > 62) {
                sidebar.css({'position': 'fixed', 'top': '0'});
            } else {
                console.log(scrollTop);
                sidebar.css({'position': 'absolute','top':62});
            }
            if (scrollTop > $(this).height()) {
                $('#btn_top').show();
            } else {
                $('#btn_top').hide();
            }
        })
    });
</script>
</body>
</html>
