
<ul class="nav nav-list bs-docs-sidenav">
<%  var keys = Object.keys(docs);
    keys.sort(function (a, b) {
        return a.substring(0, 1) !== '_' ? -1 : 1;
    });
    var slice = Object.keys(apis).length ? 6 : 7;
    var display = keys.slice(0, slice);
    for (var i = 0; i < display.length; i++) {
        var key = display[i]; 
%>
  <li>
    <a href="./<%=key%>.html"><i class="icon-chevron-right"></i><%=key%></a>
  </li>
<% } %>
</ul>
